

#header{
    &{
        transform: translateY(-100%);
        transition: transform .7s, opacity .5s;
        position: relative;
        z-index: 10;
        opacity: 0;
        visibility: hidden;
        &.is-load{
            transform: translateY(0);
            opacity: 1;
            visibility: visible;
        }
    }
    >div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $m-black;
        padding: 1.7em 0 1.5em;
        margin: 0 5%;
        @include bp-lg{
            padding: 3em 0 2.5em;
        }
        @include bp-xl{
            margin: 0 auto;
        }
    }

    &.is-top{
        >div{
            border-bottom: none;
        }
    }

    h1{
        font-weight: 900;
        @include opacity-anime;
        img{
            display: block;
            width: 160px;
        }
    }

    .hmbg_btn{
        display: block;
        width: 40px;
        height: 40px;
        position: relative;
        @include bp-lg{
            display: none;
        }
    }

    .hmbg_bar{
        &::before,&::after{
            content: '';
            width: 22px;
            height: 3px;
            background: $m-black;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            transform-origin: center;
            transition: transform .3s;
        }
        &::before{
            top: 16px;
        }
        &::after{
            top: 24px;
        }
    }

    .hmbg_btn.is-show{
        .hmbg_bar{
            &::before{
                transform: translate(-50%, 4px)rotate(45deg);
            }
            &::after{
                transform: translate(-50%, -4px)rotate(-45deg);
            }
        }
    }
}