// @use 'module/base' as*;
// @use 'module/variables' as*;
// @use 'module/header' as*;

// @use 'module/footer' as*;



// @use 'module/margin' as*;
// @use 'module/btn' as*;
// @use 'module/breadcrumb' as*;
// @use 'module/swiper' as*;




// @use 'pages/top' as*;
// @use 'pages/application' as*;
// @use 'pages/support_system_top' as*;
// @use 'pages/support_system_article' as*;
// @use 'pages/senpai' as*;
// @use 'pages/news' as*;







// トップページ

#top{
    .top-fv{
        padding: 1.7em 0;
    }
    .top-fv_list{
        display: flex;
        gap: 1.8em 10%;
        flex-direction: column;
        position: relative;
        margin: 0 calc(50% - 50vw);
	    width: 100vw;
        @include bp-sm{
            flex-direction: row;
            margin: 0;
            width: auto;
        }
        >li{
            width: 55%;
            @include bp-sm{
                width: calc(50% - 5%);
            }
            img{
                display: block;
                object-fit: cover;
                aspect-ratio: 1/1;
                width: 100%;
            }
            &:last-of-type{
                position: absolute;
                right: 0;
                bottom: -25%;
                z-index: -10;
                @include bp-sm{
                    margin-top: 3em;
                    position: static;
                }
            }
        }
    }
}