.p-topFv{
    padding: 1em 0 3em;
    overflow: hidden;
    @include bp-md{
        padding: 3em 0;
    }
}

.p-topFv__list{
    display: flex;
    gap: 1.8em 10%;
    flex-direction: column;
    position: relative;
    margin: 0 calc(50% - 50vw);
    width: 100vw;
    @include bp-sm{
        flex-direction: row;
        margin: 0;
        width: auto;
    }
    >li{
        width: 55%;
        overflow: hidden;
        &::after{
            content: '';
            background-color: $white;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
        @include bp-sm{
            width: calc(50% - 5%);
        }
        img{
            display: block;
            object-fit: cover;
            aspect-ratio: 1/1;
            width: 100%;
        }
        &:first-of-type{
            position: relative;
            &::after{
                transition: transform 1.3s .6s;
            }
        }
        &:last-of-type{
            position: absolute;
            right: 0;
            bottom: -25%;
            z-index: -10;
            @include bp-sm{
                margin-top: 3em;
                position: static;
            }
            &::after{
                transition: transform 1.3s 1.2s;
            }
        }

        &.is-load{
            &:first-of-type{
                &::after{
                    transform: translateY(-100%);
                }
            }
            &:last-of-type{
                &::after{
                    transform: translateX(100%);
                }
            }
        }
    }
}
