.p-topWork{
    background-color: $beige;
    padding: 6em 0 8em!important;
    height: 95vh;
    overflow: hidden;
    @include bp-lg{
        height: 82vh;
    }
    &__wrapper{
        width: 100%;
        position: relative;
        height: 500px;
    }

    &__list{
        display: flex;
        gap: 0 2em;
        position: absolute;
        top: 0;
        left: 0;
        @include bp-lg{
            gap: 0 3em;
        }
    }
    &__item{
        width: 350px;
        aspect-ratio: 4/3;
        display: flex;
        justify-content: center;
        align-items: center;
        a{
            display: block;
            width: 100%;
        }
    }

    &__img{
        @include bp-lg{
            overflow: hidden;
        }
        img{
            display: block;
            width: 100%;
            aspect-ratio: 6.5/4;
            object-fit: contain;
            object-position: center;
            background: $white;
            @include bp-lg{
                transition: transform .3s;
                &:is(.top-work_item:hover *){
                    transform: scale(1.1);
                }
            }
        }
    }

    &__ttl{
        letter-spacing: 1px;
        padding: .5em 0 .4em;
        display: grid;
        container-type: inline-size;
        white-space: nowrap;
        overflow: hidden;
        >span{
            &:is(.top-work_item:hover *){
                animation: marquee 2s linear both;
            }
        }

        @keyframes marquee {
            100%{
                translate: calc(100cqw - 100%) 0 0;
            }
            
        }
    }
}
