---
const text = "Hello, World!";
---

<p>{text}</p>

<script>
	class Index {
		constructor() {
			this.index();
		}

		index() {
			const hoge = "hoge";
			console.log({hoge})

			return console.log('Index');
		}
	}
	new Index();
</script>