---
import { getRenderProps } from '@lib/render.ts';
import config from '@configJson';
import Layout from '@layouts/Layout.astro';
const render = getRenderProps(Astro);
const props = {
	BODY_CLASS: "fuga",
	ADD_STYLES: [],
	ADD_SCRIPTS_HEADER: "",
	ADD_SCRIPTS_FOOTER: "",

	LANGUAGE: "ja",
	NAMESPACE: "website",
	META_CHARSET: "UTF-8",
	META_ROBOTS: "index,follow",
	META_VIEWPORT: "width =device-width,initial-scale =1,minimum-scale =1,shrink-to-fit =no,viewport-fit =cover",
	META_TITLE: "これはタイトルです",
	META_SHARE_TITLE: "",
	META_KEYWORDS: "これはキーワードです",
	META_DESCRIPTION: "これはディスクリプションです",
	META_SHARE_DESCRIPTION: "",
	META_AUTHOR: "",
	META_COPYRIGHT: "",
	META_APPLE_ICON: "favicon.svg",
	META_ICON: "favicon.ico",
	META_XHTML_ICON: "favicon.svg",
	META_FACEBOOK: true,
	META_FACEBOOK_IMAGE: "ogp_image.png",
	META_FACEBOOK_LOCALE: "ja_JP",
	META_FACEBOOK_ID: "",
	META_TWITTER: true,
	META_TWITTER_CARD: "summary_large_image",
	META_TWITTER_ACCOUNT: "",
	META_TWITTER_APP_ANDROID: "",
	META_TWITTER_APP_IPAD: "",
	META_TWITTER_APP_IPHONE: "",
	META_GOOGLE: false,
	META_WINDOWS: false,
	META_WINDOWS_IMAGE: "tile_image.png",
	META_WINDOWS_COLOR: "#000000",
	META_OLD_BROWSER: false,
	META_PWA_MODE: false,
}
---

<Layout { ...props }>
	<main id="section-contents">
		<p>テストテキスト</p>
		<p><a href={ render.RELATIVE_PATH }>top page</a></p>
		<p><img src='/assets/common/images/tile_image.png' alt=""></p>
	</main>
</Layout>

<script>
	import Common from "@commonJs";

	class Index {
		constructor() {
			this.index();
		}

		index() {
			const querys = Common.getParam();
			console.log({querys});

			return console.log('Index');
		}
	}
	new Index();
</script>

<style lang="scss">
	@use "sass:math";
	@use '../../../assets/common/stylesheets/_config.scss';
	/* ------------------------------------------- SASS Information
	Name:      _fuga.scss
	----------------------------------------------------------- */
</style>