.l-headerNav{
    max-height: 0;
    transition: max-height 0s, padding 0s;
    position: fixed;
    top: 90px;
    left: 0;
    right: 0;
    background-color: $l-gray;
    padding: 0;
    z-index: 10;
    visibility: hidden;
    @include bp-lg{
        display: block;
        position: static;
        overflow: auto;
        background-color: transparent;
        max-height: none;
        visibility: visible;
    }

    &.is-show{
        padding: 4em 0;
        max-height: 100vh;
        visibility: visible;
        transition: max-height .2s, padding .2s;
        &::after{
            opacity: 1;
            visibility: visible;
        }
    }
}

.l-headerNav__list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include bp-lg{
        flex-direction: row;
    }
}


