@charset "UTF-8";
@use "sass:math";
@use "./variables" as *;

.u-sp {
}

.u-pc {
}

.u-hidden {
  display: none;
}

.u-dropShadow{
  filter: drop-shadow(4px 4px 20px rgba($brown02,.2));
}

.font-hare {
	font-family: "Kaisei HarunoUmi", serif;
	font-weight: 500;
}


