.c-btnWrapper{
    display: flex;
    justify-content: center;
    gap: 1em;
    align-items: center;
    flex-wrap: wrap;
}

.c-btn{
    text-align: center;
    padding: 1.2em 1em;
    font-size: .9em;
    font-weight: 700;
    letter-spacing: 2px;
    min-width: 200px;
    border-radius: 5px;
}