@use '../../foundation/variables' as*;


.p-hmbgBtn{
    display: block;
    width: 40px;
    height: 40px;
    position: relative;
    @include bp-lg{
        display: none;
    }
    &__bar{
        &::before,&::after{
            content: '';
            width: 22px;
            height: 3px;
            background: $m-black;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            transform-origin: center;
            transition: transform .3s;
        }
        &::before{
            top: 16px;
        }
        &::after{
            top: 24px;
        }
    }


    &.is-show &__bar{
        &::before{
            transform: translate(-50%, 4px)rotate(45deg);
        }
        &::after{
            transform: translate(-50%, -4px)rotate(-45deg);
        }
    }
}

