---
import config from '@configJson';

// Propsを取得
const {
	META_TITLE,
	ADD_SCRIPTS_FOOTER,
	RELATIVE_PATH,
	SPECIFIED_PATH
} = Astro.props;
---

<footer id="section-footer">
  <p>footer { META_TITLE }</p>
  <p><a href={ RELATIVE_PATH }>top page</a></p>
  <p class="footer_logo"><img src='/assets/common/images/Astro.svg' alt=""></p>
</footer><!-- /#section-footer -->

{ADD_SCRIPTS_FOOTER && ADD_SCRIPTS_FOOTER.map((element: string) => (
  <script src={element} is:inline></script>
))}

<style lang="scss">
  @use "sass:math";
  @use '../assets/common/stylesheets/_config.scss';
  /* ------------------------------------------- SASS Information
    Name:      /components/footer
    ----------------------------------------------------------- */

  #section-footer {
    @include config.RESPONSIVE('PC', config.$MIN_WIDTH) {}
    @include config.RESPONSIVE('SP', config.$MIN_WIDTH) {}
    .footer_logo{
      width: 100px;
      @include config.RESPONSIVE('PC', config.$MIN_WIDTH) {
        width: 100px;
      }
      @include config.RESPONSIVE('SP', config.$MIN_WIDTH) {
        width: config.get_vw(200);
      }
    }
  }
</style>