.u-mb1{
    margin-bottom: 1em;
}

.u-mb1_5{
    margin-bottom: 1.5em;
}

.u-mb2{
    margin-bottom: 2em;
}

.u-mb3{
    margin-bottom: 3em;
}

.u-mb4{
    margin-bottom: 4em;
}

.u-mb5{
    margin-bottom: 4em;
}