/* ------------------------------------------- SASS Information
 Name:      app.scss
 Author:    #$WEB_AUTHOR
 Info:      #$WEB_SITE_NAME
 TODO ローカル開発サーバー起動時、本番サイトをビルド時に
      $WEB_AUTHOR、$WEB_SITE_NAMEを持ってこれるよう調整
----------------------------------------------------------- */

/* -----------------------------------------------------------
  COMMON: config
----------------------------------------------------------- */

@use '../common/stylesheets/config';
@use '../common/stylesheets/reset';

/* -----------------------------------------------------------
  STYLES: components
----------------------------------------------------------- */

/* -----------------------------------------------------------
  STYLES: layouts
----------------------------------------------------------- */

@use 'layouts/default';
@use 'layouts/content';